In [41]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

df = pd.read_excel("nlsw88.xlsx")
df["Hourly_wage"] = df["wage"] / df["hours"]

In [42]:
df.head()
dff=df.dropna()

In [43]:
dff.head()

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Hourly_wage
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,0.244565
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,0.160024
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,0.125418
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,0.215091
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,0.168411

In [46]:
model = ols("Hourly_wage ~ C(race)*C(union)", data=dff).fit()

In [47]:
anova_table = sm.stats.anova_lm(model, type=2)
anova_table

                      df      sum_sq   mean_sq         F    PR(>F)
C(race)              2.0    2.326511  1.163255  8.955477  0.000135
C(union)             1.0    0.224062  0.224062  1.724972  0.189218
C(race):C(union)     2.0    0.227766  0.113883  0.876742  0.416310
Residual          1843.0  239.393092  0.129893       NaN       NaN