In [269]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
df=pd.read_excel("nlsw88.xlsx")

In [270]:
df

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,5153,35,White,Single,Never married,12.0,Not college grad,South,SMSA,Not central city,Professional services,Laborers,NaN,5.517124,35.0,11.98718,2.083333
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667

In [271]:
dff=df.dropna()

In [272]:
dff

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,White,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,Sales,Union,5.032206,40.0,14.48077,6.833333
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667

In [ ]:
#Outcome must be binary 0 or 1
dff["Union"]=1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\994706878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["Union"]=1

In [274]:
dff

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Union
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,1
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,1
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,1
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,1
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,White,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,Sales,Union,5.032206,40.0,14.48077,6.833333,1
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670,1
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333,1
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000,1
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667,1

In [ ]:
#encoding categorical variables
dff["Union"]=dff["union"]
dff["Union"].replace({"Union":1,"Nonunion":0},inplace=True)
dff.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\78817974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["Union"]=dff["union"]
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\78817974.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dff["Union"].replace({"Union":1,"Nonunion":0},inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\78817974.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dff["Union"].replace({"Union":1,"Nonunion":0},inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\78817974.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["Union"].replace({"Union":1,"Nonunion":0},inplace=True)

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Union
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,1
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,1
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,1
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,1
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,0

In [276]:
dff["hourly wage"]=dff["wage"]/dff["hours"]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\275598449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["hourly wage"]=dff["wage"]/dff["hours"]

In [277]:
dff

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Union,hourly wage
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,1,0.244565
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,1,0.160024
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,1,0.125418
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,1,0.215091
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,0,0.168411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,White,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,Sales,Union,5.032206,40.0,14.48077,6.833333,1,0.125805
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670,0,0.358092
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333,0,0.095612
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000,0,0.069933
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667,1,0.188363

In [278]:
dff["Married"]=dff["married"]
dff["Married"].replace({"Married":1,"Single":0,"Other":0},inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\2220181031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["Married"]=dff["married"]
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\2220181031.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dff["Married"].replace({"Married":1,"Single":0,"Other":0},inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\2220181031.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dff["Married"].replace({"Married":1,"Single":0,"Other":0},inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_9564\2220181031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff["Married"].replace({"Married":1,"Single":0,"Other":0},inplace=True)

In [279]:
dff

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Union,hourly wage,Married
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,1,0.244565,0
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,1,0.160024,0
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,1,0.125418,0
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,1,0.215091,1
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,0,0.168411,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,White,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,Sales,Union,5.032206,40.0,14.48077,6.833333,1,0.125805,1
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670,0,0.358092,1
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333,0,0.095612,1
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000,0,0.069933,1
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667,1,0.188363,0

In [280]:
dff

,idcode,age,race,married,never_married,grade,collgrad,south,smsa,c_city,industry,occupation,union,wage,hours,ttl_exp,tenure,Union,hourly wage,Married
0,1,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,Operatives,Union,11.739130,48.0,10.33333,5.333333,1,0.244565,0
1,2,37,Black,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Craftsmen,Union,6.400963,40.0,13.62179,5.250000,1,0.160024,0
2,3,42,Black,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,Sales,Union,5.016723,40.0,17.73077,1.250000,1,0.125418,0
3,4,43,White,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,Other,Union,9.033813,42.0,13.21154,1.750000,1,0.215091,1
4,6,42,White,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,Operatives,Nonunion,8.083731,48.0,17.82051,17.750000,0,0.168411,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,White,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,Sales,Union,5.032206,40.0,14.48077,6.833333,1,0.125805,1
2242,5154,44,White,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,Professional/Technical,Nonunion,14.323670,40.0,12.70513,12.166670,0,0.358092,1
2243,5156,42,White,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,Sales,Nonunion,3.824476,40.0,18.85897,9.583333,0,0.095612,1
2244,5157,38,Black,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,Laborers,Nonunion,2.447664,35.0,11.16026,10.750000,0,0.069933,1
2245,5159,43,Black,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,Sales,Union,7.157810,38.0,10.59615,3.416667,1,0.188363,0

In [281]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [282]:
model=LogisticRegression()

In [ ]:
#Since race has more than two categories we get dummies
dff=pd.get_dummies(dff,columns=["race"],drop_first=True)

In [284]:
x=dff[["hourly wage","grade","tenure","Married","race_Other","race_White"]]
y=dff[["Union"]]

In [285]:
dff

,idcode,age,married,never_married,grade,collgrad,south,smsa,c_city,industry,...,union,wage,hours,ttl_exp,tenure,Union,hourly wage,Married,race_Other,race_White
0,1,37,Single,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Transport/Comm/Utility,...,Union,11.739130,48.0,10.33333,5.333333,1,0.244565,0,False,False
1,2,37,Single,Has been married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,...,Union,6.400963,40.0,13.62179,5.250000,1,0.160024,0,False,False
2,3,42,Single,Never married,12.0,Not college grad,Not south,SMSA,Central city,Manufacturing,...,Union,5.016723,40.0,17.73077,1.250000,1,0.125418,0,False,False
3,4,43,Married,Has been married,17.0,College grad,Not south,SMSA,Not central city,Professional services,...,Union,9.033813,42.0,13.21154,1.750000,1,0.215091,1,False,True
4,6,42,Married,Has been married,12.0,Not college grad,Not south,SMSA,Not central city,Manufacturing,...,Nonunion,8.083731,48.0,17.82051,17.750000,0,0.168411,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,5152,35,Married,Has been married,13.0,Not college grad,South,Not SMSA,Not central city,Professional services,...,Union,5.032206,40.0,14.48077,6.833333,1,0.125805,1,False,True
2242,5154,44,Married,Has been married,16.0,College grad,South,SMSA,Not central city,Professional services,...,Nonunion,14.323670,40.0,12.70513,12.166670,0,0.358092,1,False,True
2243,5156,42,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Business/Repair svc,...,Nonunion,3.824476,40.0,18.85897,9.583333,0,0.095612,1,False,True
2244,5157,38,Married,Has been married,12.0,Not college grad,South,Not SMSA,Not central city,Professional services,...,Nonunion,2.447664,35.0,11.16026,10.750000,0,0.069933,1,False,False
2245,5159,43,Single,Has been married,12.0,Not college grad,South,SMSA,Central city,Professional services,...,Union,7.157810,38.0,10.59615,3.416667,1,0.188363,0,False,False

In [ ]:
#converting booleans to integers
bool_cols=dff.select_dtypes(include="bool").columns
dff[bool_cols]=dff[bool_cols].astype(int)

In [ ]:
#fitting the model
model.fit(x_train,y_train)

c:\Users\Administrator\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
#predicting the outcomes
y_pred=model.predict(x_test)

In [298]:
model.coef_

array([[ 0.18873446,  0.07396115,  0.04121049, -0.21463523,  0.18249556,
        -0.44636644]])

In [299]:
model.intercept_

array([-2.04265109])

In [291]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.7108108108108108

In [300]:
import statsmodels.api as sm

In [302]:
log_reg=sm.Logit(y_train,x_train).fit()

Optimization terminated successfully.
         Current function value: 0.544319
         Iterations 5

In [301]:
log_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Union   No. Observations:                 1479
Model:                          Logit   Df Residuals:                     1473
Method:                           MLE   Df Model:                            5
Date:                Thu, 15 Jan 2026   Pseudo R-squ.:                0.005235
Time:                        12:57:47   Log-Likelihood:                -805.05
converged:                       True   LL-Null:                       -809.28
Covariance Type:            nonrobust   LLR p-value:                    0.1320
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
hourly wage     0.2365      0.148      1.597      0.110      -0.054       0.527
grade          -0.0607      0.011     -5.407      0.000      -0.083      -0.039
tenure          0.0322      0.011      3.044      0.002       0.011       0.053
Married        -0.3710      0.125     -2.957      0.003      -0.617      -0.125
race_Other      0.1125      0.483      0.233      0.816      -0.833       1.058
race_White     -0.5148      0.137     -3.745      0.000      -0.784      -0.245
===============================================================================
"""